= render layout: 'layouts/authenticated_app/center' do
  = render 'tabs'
  = form_tag(reset_with_code_update_password_path, method: 'put') do
    = hidden_field_tag 'recovery_user', session[:recovery_user]
    = hidden_field_tag 'recovery_code', session[:recovery_code]
    .form-group
      = label_tag '', t(:username)
      = text_field_tag '', session[:recovery_user], class: 'form-control is-valid', disabled: true
    .form-group
      = label_tag '', t(:recovery_code)
      = text_field_tag '', session[:recovery_code], class: 'form-control  is-valid', disabled: true
    - if @show_password_tips
      .small.alert.alert-secondary= render 'authenticated_app/passwords/password_tips'
    = render 'authenticated_app/passwords/password_field', errors: @errors, field: :new_password
    = render 'authenticated_app/passwords/password_field', errors: @errors, field: :password_confirmation
    .btn-toolbar
      = link_to app_root_url, class: 'btn btn-outline-secondary' do
        - icon(:cancel, t(:cancel))
      = button_tag class: 'btn btn-success', type: 'submit' do
        - icon(:ok, t(:change_password))
