= render layout: 'layouts/authenticated_app/center' do
  = render 'authenticated_app/reset_with_code/tabs'
  = form_tag(reset_with_email_update_password_path, method: 'put') do
    = hidden_field_tag 'recovery_user',  @user&.login
    .form-group
      = label_tag '', t(:username)
      = text_field_tag '', @user&.login, class: 'form-control is-valid', disabled: true
    .form-group
      = label_tag 'token', t(:token)
      - if @token_valid
        = hidden_field_tag 'token', params[:token]
        = text_field_tag '', params[:token], class: 'form-control is-valid', disabled: true
      - else
        = text_field_tag 'token', params[:token], class: 'form-control ' + is_invalid(@errors, :token)
        - if !params[:token].present?
          .help-text= t(:check_email_for_token)
        - else
          = feedback(@errors, :token)
    - if @show_password_tips
      .small.alert.alert-secondary= render 'authenticated_app/passwords/password_tips'
    = render 'authenticated_app/passwords/password_field', errors: @errors, field: :new_password
    = render 'authenticated_app/passwords/password_field', errors: @errors, field: :password_confirmation
    .btn-toolbar
      = link_to app_root_url, class: 'btn btn-outline-secondary' do
        - icon(:cancel, t(:cancel))
      = button_tag class: 'btn btn-success', type: 'submit' do
        - icon(:ok, t(:change_password))
